
#confirmation {
  display: block;
  position: fixed;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #eee;
  background: white;
  z-index: 1000;
}

#confirmation.hide {
  display: none;
}

#confirmation .confirmation-title {
  padding: 10px;
}

#confirmation .confirmation-message {
  padding: 10px;
}

#confirmation .confirmation-action {
  padding: 10px;
  background: #EEE;
  text-align: right;
}

#confirmation .confirmation-action button {
  padding: 5px;
  font-size: 1em;
}